<table>
  <tr>
    <th>Hatebuta key</th>
    <th>Timeline key</th>
    <th>Timeline</th>
    <th>Title</th>
    <th>Description</th>
    <th>Open level</th>
  </tr>

<% @hatebutas.each do |hatebuta| %>
  <tr>
    <td><%=h hatebuta.hatebuta_key %></td>
    <td><%=h hatebuta.timeline_key %></td>
    <td><%=h hatebuta.timeline_id %></td>
    <td><%=h hatebuta.title %></td>
    <td><%=h hatebuta.description %></td>
    <td><%=h hatebuta.open_level %></td>
    <!--
    <td><%= link_to 'Show', hatebuta %></td>
    <td><%= link_to 'Edit', edit_hatebuta_path(hatebuta) %></td>
    -->
    <td><%= link_to 'Destroy', hatebuta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<table>
  <tr>
    <th>ユーザ名</th>
    <th>タイトル</th>
    <th>URL</th>
    <th>ブックマーク数</th>
    <th>ステータス</th>
    <th>コメント</th>
    <th>プライベート</th>
    <th>タイムスタンプ</th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%=h bookmark.username %></td>
    <td><%=h bookmark.title %></td>
    <td><%=h bookmark.url %></td>
    <td><%=h bookmark.count %></td>
    <td><%=h bookmark.status %></td>
    <td><%=h bookmark.comment %></td>
    <td><%=h bookmark.is_private %></td>
    <td><%=h bookmark.timestamp %></td>
  </tr>
<% end %>
</table>