<div class="info">
<h2>はてブタとは？</h2>
自分やお気に入りの人のブックマークを@nifty タイムラインで<br />見られるようにするアプリケーションです。
  <%= link_to '詳しくはコチラ', 'http://sites.google.com/site/2ca3/hate-buta', :target=>'_blank' %>
</div>
<h2 class="subtitle">最近作成されたはてブタ</h2>
<ol id="hatebuta_list">
<% @hatebutas.each do |hatebuta| %>
  <li>
  <span><%= link_to hatebuta.title, "http://timeline.nifty.com/portal/show/#{hatebuta.timeline_id}", :target=>"_blank" %></span>
  <span><%=h hatebuta.description %></span>
  </li>
<% end %>
</ol>
<%= link_to "はてブタを作る", new_hatebuta_path %>

<h2 class="subtitle">最近のブックマーク</h2>
<ol id="bookmark_list">
<% @bookmarks.each do |bookmark| %>
  <li>
  <span><%= link_to bookmark.title, bookmark.url, :target=>'_blank' %></span>
  <span><%= link_to image_tag("http://b.hatena.ne.jp/entry/image/#{bookmark.url}", { :border => "0", :alt => bookmark.title}), "http://b.hatena.ne.jp/entry/#{bookmark.url}", :target => "_blank" %></span>
  <span><%= link_to "id:#{bookmark.username}", "http://b.hatena.ne.jp/#{bookmark.username}/", :target=>"_blank" %></span><br />
    <span id="comment"><%=h bookmark.comment %></span>
  </li>
<% end %>
</ol>
