<%= link_to 'はてブタを作る', new_hatebuta_path %>
<h2>最近作成されたはてブタ</h2>
<ol id="hatebuta_list">
<% @hatebutas.each do |hatebuta| %>
  <li>
  <span><%=h hatebuta.title %></span>
    <span><%=h hatebuta.description %></span>
  </li>
<% end %>
</ol>


<h2>最近のブックマーク</h2>
<ol id="bookmark_list">
<% @bookmarks.each do |bookmark| %>
  <li>
    <span><%= link_to bookmark.title, bookmark.url %></span>
    <span><%= link_to image_tag('http://b.hatena.ne.jp/entry/image/' + bookmark.url, { :border => '0', :alt => bookmark.title}), 'http://b.hatena.ne.jp/entry/' + bookmark.url, :target => '_blank' %></span>
    <span>id:<%=h bookmark.username %></span><br />
    <span id="comment"><%=h bookmark.comment %></span>
  </li>
<% end %>
</ol>
