<h2>はたブタを始める</h2>

<% form_for(@hatebuta) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "タイムラインAPIキー" %><a href="http://timeline.nifty.com/my_page/apikey" target="_blank">確認する</a><br />
    <%= f.text_field :timeline_key %>
    <a href="http://help.timeline.nifty.com/cs/help/detail/070806007668/1.htm" target="_blank">これはなに？</a>
  </p>
  <p>
    <%= f.label "タイトル" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "概要" %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.check_box :open_level ,{'checked' => 'checked'} %>公開する
  </p>
  <p>
    <%= f.submit '作成' %>
  </p>
<% end %>

<%= link_to 'Back', '/' %>
