<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>はてブタ: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "hatebuta" %>
</head>
<body>
<!--  ********* メインコンテンツ ******** --> 
<div id="wrap"> 
  <!--  ********* ヘッダー ******** --> 
  <div id="head"> 
    <h1><%= link_to image_tag('/images/logo.png', { :border => '0', :alt => 'はてブタ'}), hatebutas_url %></h1>
  </div>

  <!-- ********* 左側 ******** --> 
	<div id="left"> 
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
  </div> 
	
	<!-- ********* 右側 ******** --> 
	<div id="right"> 
     <script type="text/javascript"><!--
       google_ad_client = "pub-6681409822461545";
       /* 120x240, 作成済み 09/07/09 */
       google_ad_slot = "0466390879";
       google_ad_width = 120;
       google_ad_height = 240;
       //-->
     </script>
     <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  </div> 
 
	<!-- ********* フッター ******** --> 
	<div id="foot"> 
    hatebuta, developed by 2ca3(Tsukasa) and
    <a href="http://timeline.nifty.com/" title="@nifty TimeLine" target="_blank"><img src="http://timeline.nifty.com/images/logo_api_timeline_2.gif" border="0" /></a> and 
    <a href="http://b.hatena.ne.jp/" title="はてなブックマーク" target="_blank">はてなブックマーク</a>
	</div> 
</div> 
</body>
</html>
